.angry-grid {
    display: grid;
    background-image: url('/images/Grid-background.png');
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#hrefs {
    text-decoration: none;
}

#footer {
    text-align: center;
    justify-content: center;
    margin: 0%;
    padding-top: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button-text {
    color: white;
    padding-top: 38px;
    text-decoration: none;
    font-size: 20px;
    max-width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

#newbutton-text {
    color: white;
    padding-top: 20px;
    text-decoration: none;
    font-size: 50px;
    max-width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.Header {
    font-size: 25px;
    padding: 10px;
    margin: 0%;
    display: flex;
    padding-left: 10px;
    color: #413253;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

#loginImage {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    padding-left: 1340px;
    margin: 0%;
}

.buttons {
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    background-color: #1c1c80;
    border-color: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

#item-0 {
    background-color: rgba(0, 0, 0, 0.0);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 7;
}

#item-1 {
    background-color: #333347;
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 7;
}

#item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    margin: 20px;
    grid-row-end: 3;
    grid-column-end: 2;
}

#item-3 {
    background-color: #1c1c80;
    grid-row-start: 2;
    grid-column-start: 2;
    border-radius: 10px;
    grid-row-end: 3;
    grid-column-end: 6;
}

#newbutton {
    background-color: #089cfc;
    height: 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    border-radius: 10px;
}

#item-4 {
    padding-top: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 6;
}


.scroll-container {
    width: 992px;
    height: 520px;
    color: white;
    overflow-y: scroll;
    padding: 10px;
    background-color: #181c24;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.search-input {
    width: 850px;
    height: 30px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    margin-left: 10px;
    border: black;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #089cfc;
}

#item-5 {
    padding: 20px;
    grid-row-start: 2;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
}
