@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Tabber</title>
</head>
<body>
    <div class="angry-grid">
        <div id="item-0">
            <h2 class="Header">
                <div id="logotext">
                    Tabber™
                </div>
                <div style="width: 1300px">

                </div>
                <div class="LoginImageButton">
                    <a href="/login">
                        <img src="images/login.png" height="100px" width="110px">
                    </a>
                </div>
            </h2>
        </div>
        <div class="scroll-container">
            <img src="~/images/tabbackground.png" alt="TabImage1">
            <img src="~/images/tabbackground.png" alt="TabImage2">
            <img src="~/images/tabbackground.png" alt="TabImage3">
            <img src="~/images/tabbackground.png" alt="TabImage4">
            <img src="~/images/tabbackground.png" alt="TabImage5">
            <img src="~/images/tabbackground.png" alt="TabImage6">
            <img src="~/images/tabbackground.png" alt="TabImage7">
            <img src="~/images/tabbackground.png" alt="TabImage8">
            <img src="~/images/tabbackground.png" alt="TabImage9">
            <img src="~/images/tabbackground.png" alt="TabImage10">
            <img src="~/images/tabbackground.png" alt="TabImage11">
            <img src="~/images/tabbackground.png" alt="TabImage12">
            <img src="~/images/tabbackground.png" alt="TabImage13">
            <img src="~/images/tabbackground.png" alt="TabImage14">
            <img src="~/images/tabbackground.png" alt="TabImage15">
            <img src="~/images/tabbackground.png" alt="TabImage16">
        </div>
        <div id="item-1">
            <h1 class="top-header">Tabber™</h1>
            The BEST online guitar tab editor
        </div>
        <div id="item-2">
            <h3 class="sub-titel">Easily create, edit, and share your own tabs, making it simple to bring your favorite songs to life or compose original pieces</h3>
        </div>
        <div id="item-3">
            <a href="/MakeTab" class="href">
                <div class="buttons">
                    <div class="button-text">Start writing your own tabs!</div>
                </div>
            </a>
        </div>
        
        <div id="item-4">
            <a href="/SearchTab" class="href">
                <div class="buttons">
                    <div class="button-text">Start searching for tabs!</div>
                </div>
            </a>
        </div>
        <div id="item-5">
            <div id="footer">© 2025 Tabber™ - All rights reserved.</div>
        </div>
    </div>
    <script src="~/js/scrollingTab.js"></script>
</body>
</html>
