@page
@model IndividualWebApp.Pages.MakeTabModel
@{
	ViewData["Title"] = "Make page";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Make.css">
    <title>Create</title>
</head>
<body>
    <div class="angry-grid">
        <div id="item-0">
            <h2 class="Header">
                Tabber™
                <a href="Login.html">
                    <img src="images/login.png" height="60px" width="60px" id="loginImage">
                </a>
            </h2>
        </div>
        <div id="item-1">
            <div id="footer">© 2025 Tabber™ - All rights reserved.</div>
        </div>
        <div id="item-2">
            <a href="index.html" id="hrefs">
                <div class="buttons">
                    <div class="button-text">Back to Homepage</div>
                </div>
            </a>
        </div>
        <div id="item-3">
            <div class="search-container">
                <input type="text" placeholder="Browse your own tabs..." class="search-input">
                <button class="search-button">
                    <img src="images/searchicon.png" alt="searchicon" height="50px">
                </button>
            </div>
        </div>
        <div id="item-4">
            <div class="scroll-container">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at est a sapien malesuada finibus quis vitae ipsum. Vivamus laoreet velit massa, sed scelerisque dolor faucibus nec. Sed elementum ex nisl, nec maximus quam iaculis non. Donec mattis nunc mauris, eu rutrum purus aliquam ac. Sed molestie massa et rhoncus egestas. Phasellus feugiat ante sapien, eget interdum metus finibus ac. Curabitur pharetra ultrices mauris, non mollis orci pharetra vel. Nunc fringilla, quam nec feugiat facilisis, velit nulla ultricies enim, sit amet molestie ipsum sapien nec mi. In nisl nisl, commodo sed libero id, venenatis ultricies magna. Quisque fringilla felis vel tincidunt luctus. Aenean efficitur mauris at malesuada lacinia. Sed et accumsan tellus. In rutrum laoreet volutpat. Morbi sit amet ante gravida, pellentesque tellus eu, sagittis leo. In volutpat mollis diam quis fermentum.

                Donec semper metus ac lectus mattis, at iaculis orci condimentum. Quisque tortor magna, volutpat ut ex eget, rhoncus ornare justo. Vestibulum elementum nisl vel turpis feugiat, id euismod libero consequat. Nam interdum neque nunc, eu consectetur erat cursus at. Praesent auctor felis vel orci facilisis consectetur. Vivamus rutrum eget libero quis imperdiet. Etiam in justo sit amet dolor imperdiet volutpat non sit amet turpis. Duis augue nisl, consequat id eros eu, interdum sollicitudin enim. Nullam et tortor arcu. Suspendisse euismod fermentum arcu non pulvinar. Maecenas eu sodales ipsum, sed finibus lacus. Nullam arcu mauris, congue ut augue sed, vulputate aliquam tortor. Duis a enim eget sapien aliquet ultricies at ut mi. Nam nec volutpat arcu, ut ullamcorper tortor. Praesent pretium nibh vulputate placerat tempor.

                Fusce blandit pellentesque nunc nec convallis. Quisque justo diam, dignissim et magna sit amet, viverra aliquet orci. Maecenas sollicitudin dolor nec purus commodo ornare. Duis gravida quis nunc id rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc eget quam in dolor facilisis viverra eu eu libero. Cras lacinia, erat at cursus posuere, nisi neque fringilla odio, quis pellentesque dui nisl eu risus. Aenean orci risus, accumsan et est quis, maximus consequat neque. Mauris nec quam sem. Curabitur in feugiat velit. Morbi scelerisque commodo eleifend. Morbi vel justo eu dui tristique tempus at sit amet justo.

                Phasellus sit amet lacus vitae nulla efficitur condimentum nec ac erat. Nulla diam eros, aliquet et nisl ut, pulvinar egestas risus. Suspendisse in ipsum tincidunt, vestibulum sapien eget, fringilla nunc. Duis ultrices mauris metus. Nulla iaculis eros non nunc condimentum, sit amet porttitor tortor tempor. Curabitur vel urna ac ipsum luctus cursus vitae vitae tortor. In id accumsan neque. Curabitur dignissim, velit a blandit placerat, quam risus volutpat elit, vel aliquet elit justo sit amet quam. In tristique, sapien a malesuada iaculis, nibh tellus porta magna, sit amet viverra lorem sapien quis ligula. Pellentesque nisl tortor, euismod sed erat sed, lobortis volutpat dolor. Nulla ultrices tellus vehicula aliquet volutpat. In mi ex, faucibus et aliquet pretium, commodo vel massa.

                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur non ex fringilla, lobortis nisi vel, maximus massa. Pellentesque semper, neque nec aliquam congue, leo lectus vulputate ex, et ullamcorper turpis massa suscipit risus. In condimentum, nisi et pulvinar aliquet, odio sapien vehicula metus, ac vestibulum velit ligula ut nunc. Sed vitae facilisis odio. Mauris sodales, quam at lacinia sagittis, lectus enim tincidunt arcu, nec feugiat urna mauris non nunc. Duis in elit tellus. Pellentesque eget condimentum ligula. Morbi sit amet enim id est congue luctus. Vivamus posuere, eros ac ullamcorper tempor, elit diam commodo arcu, at pretium sapien justo sed augue. Aenean vel tincidunt quam. Pellentesque sit amet varius orci, non cursus nibh. Duis ullamcorper, turpis id eleifend ultricies, dui risus eleifend erat, vel tempor justo diam id lorem. Aenean et mi non arcu tincidunt faucibus. Sed sodales turpis non tellus tempor porttitor.

                Nunc accumsan nulla id ex interdum, a feugiat nulla maximus. Aliquam erat volutpat. Pellentesque arcu tortor, dictum semper dui in, placerat posuere metus. Aliquam lobortis sagittis tortor ac feugiat. In hac habitasse platea dictumst. Suspendisse id orci ac ex condimentum eleifend ac eu purus. Maecenas mollis orci vitae turpis accumsan maximus. Donec eu cursus nunc. Etiam aliquet tincidunt elit sit amet cursus. Donec convallis, nisl eget sollicitudin ultrices, mauris leo iaculis nisi, eu viverra nunc leo eget tortor. Nam ac sagittis odio. Etiam venenatis orci urna, in interdum elit accumsan a. Nullam cursus consequat enim, a accumsan enim vehicula vitae. Etiam bibendum cursus libero, in auctor nisl sodales quis. Suspendisse ac leo nibh.

                Fusce molestie a est congue bibendum. In pretium elit eu rhoncus accumsan. Duis aliquam lorem sapien, ut congue lectus sodales id. Suspendisse nec tempus turpis. Sed aliquam odio eget auctor volutpat. Curabitur ullamcorper nunc nec sem laoreet fringilla. Fusce congue ligula risus, id feugiat lorem imperdiet sit amet. Nullam pellentesque ultrices augue a gravida. Donec magna arcu, convallis non ipsum et, condimentum tempus ipsum. Sed viverra, ex eget rhoncus faucibus, ex erat mollis erat, sed bibendum ipsum orci id arcu. Maecenas viverra pulvinar ipsum a posuere. Sed purus sapien, euismod vitae turpis vitae, fermentum sodales nunc. Nam sodales facilisis posuere. Nullam ut iaculis sapien.

                Quisque feugiat eros ipsum, eget ultricies nulla ullamcorper nec. Praesent mattis purus vel ex fringilla aliquet. Nullam posuere libero non urna luctus, id fringilla tellus feugiat. Aliquam iaculis justo ac laoreet condimentum. Suspendisse a pharetra sem. Curabitur dignissim dui et ex eleifend fringilla sed sit amet nunc. Sed eget lorem vitae quam tincidunt convallis et quis nisi. Quisque ullamcorper aliquet nisi sit amet egestas. Proin tempus lacinia dui sed sagittis. In hac habitasse platea dictumst.

                Proin accumsan tellus ultrices arcu eleifend pretium. Morbi pellentesque, nunc vel volutpat dignissim, nisl orci mollis eros, quis posuere tellus lectus vitae diam. In vehicula tincidunt sapien, quis iaculis nibh posuere eget. Curabitur sit amet odio at lorem congue mattis ut sed ex. Etiam feugiat, libero id facilisis aliquet, magna elit suscipit ante, quis finibus dolor eros sed enim. Donec mattis leo eget dolor imperdiet, sit amet lobortis mi finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In euismod ligula vel libero malesuada, et faucibus velit gravida. In hac habitasse platea dictumst. Fusce aliquet mi in ante ornare, vitae fermentum nibh tincidunt.

                Mauris sed pulvinar velit. Donec cursus, lacus quis tristique ornare, neque leo imperdiet massa, vel laoreet tortor orci eget orci. Vivamus eleifend sapien vel odio pulvinar imperdiet. Donec sit amet malesuada libero. Aenean pretium blandit ligula, non pulvinar purus eleifend eget. Vivamus pulvinar nibh eu justo congue fringilla. Ut vulputate laoreet condimentum. Praesent non tincidunt orci. Etiam ante orci, sollicitudin sit amet sagittis eu, mollis non urna. Donec vulputate finibus turpis sed hendrerit. Etiam id orci arcu. Etiam in tincidunt mi.

                Vivamus porttitor dignissim urna nec venenatis. Cras a tellus a augue hendrerit posuere. Sed finibus nibh non libero tincidunt sollicitudin. Vivamus gravida libero quam, et semper velit rhoncus in. Vivamus facilisis semper consectetur. Integer eget tellus tincidunt lacus imperdiet consequat. Phasellus porttitor fermentum laoreet. Quisque finibus, nisl vitae suscipit mollis, augue orci elementum libero, ut euismod erat augue id nibh. Cras luctus elit non imperdiet tincidunt.

                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet turpis blandit, hendrerit sapien at, feugiat lacus. Curabitur a ante sed sem tincidunt mattis in a erat. Duis congue augue in diam sollicitudin, non sollicitudin nulla gravida. Etiam erat dolor, volutpat vel vehicula non, pulvinar eu elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus volutpat ipsum in aliquam imperdiet. Sed vulputate nulla ut ex fermentum ultricies. Donec in sapien pharetra, consequat metus id, faucibus orci. Morbi et lorem enim. Duis sit amet neque sed sapien malesuada dapibus ac et ipsum. Aliquam vitae mi vel massa placerat posuere sed non massa. Nam ut libero felis. Curabitur ultricies, sem sed accumsan imperdiet, ex nunc imperdiet lectus, eu sollicitudin eros tortor id nisl.

                Nullam quam lectus, condimentum rutrum porta eu, fringilla et dolor. Aliquam quis lorem urna. In faucibus mauris vel nisi iaculis, non euismod libero suscipit. Vivamus molestie felis id turpis sagittis hendrerit. Duis sagittis, urna sit amet rutrum finibus, elit ex porttitor nisl, ac suscipit purus magna vitae nunc. Vestibulum commodo velit sed tortor interdum, et placerat urna molestie. Nulla ac arcu sit amet diam consequat ultrices id a felis. Proin congue, felis id ullamcorper tincidunt, augue elit laoreet nunc, faucibus faucibus augue ligula sollicitudin lacus. Mauris vitae imperdiet metus, a ultricies mi.

                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas fringilla ullamcorper ante a ornare. Duis nisl erat, imperdiet quis orci vitae, fermentum maximus felis. Donec facilisis sagittis massa, sed lobortis odio. In ac augue a justo cursus sagittis. Duis tortor ex, lobortis eu sapien sit amet, venenatis lacinia nibh. Mauris non congue libero. Nunc ullamcorper fringilla sapien. Duis volutpat, justo at rhoncus suscipit, ex enim consectetur dolor, sed aliquet nisl justo quis leo. Pellentesque varius neque id tortor egestas, ac ultricies dui tincidunt. Pellentesque placerat orci magna, ut cursus sem malesuada at.

                Aliquam facilisis condimentum quam, id ullamcorper est rutrum id. Morbi id risus a augue congue sollicitudin. Sed maximus lacinia est, eget pretium felis. Fusce ac lorem elit. Nam venenatis turpis lorem, at tincidunt diam maximus eu. Quisque ac euismod magna. Praesent venenatis purus et tortor tincidunt, accumsan dictum sapien convallis. Nunc eros enim, pulvinar sit amet eleifend tristique, egestas et augue. Suspendisse hendrerit suscipit sollicitudin. Vivamus fermentum sem mauris, at placerat eros iaculis blandit. Etiam cursus ullamcorper elit ornare volutpat. Quisque mattis lacus in nisl fringilla, nec molestie ante congue.

                Suspendisse at ante vel mi sodales ultrices a quis leo. In efficitur turpis sed dolor commodo vulputate ut in felis. Donec convallis pretium placerat. Curabitur quis lorem eu eros varius accumsan ac sit amet nulla. Cras id magna felis. Sed molestie dapibus massa, quis euismod ipsum interdum ut. Nunc facilisis vestibulum fermentum. Nullam facilisis, sem vitae molestie gravida, turpis elit hendrerit enim, at rhoncus sem massa in mauris. Cras mollis purus ac magna rhoncus posuere. Fusce aliquet consectetur nunc quis lobortis. Morbi at arcu libero.

                Suspendisse potenti. Aenean nec nibh molestie magna scelerisque varius. Nullam convallis mi erat, ac sollicitudin orci aliquet quis. Sed non eros nulla. Praesent aliquam suscipit posuere. Quisque dignissim magna nisi. Duis cursus odio id nulla dapibus, viverra accumsan est luctus.

                Maecenas egestas, turpis quis accumsan pulvinar, dolor leo consectetur quam, nec imperdiet arcu magna eget ante. Sed commodo nibh eu purus venenatis fermentum. Morbi et sem faucibus, finibus eros iaculis, dapibus tellus. Aenean ac aliquet purus. Duis eget viverra diam. Proin ut ullamcorper nunc, vitae mattis nulla. Integer eget urna pellentesque, sollicitudin dolor ac, tempus turpis. Donec sodales urna nec accumsan tempus. Vivamus a euismod lacus. Morbi vel aliquet purus. Sed in enim sollicitudin, gravida sapien quis, iaculis erat. Suspendisse malesuada, lectus vel imperdiet scelerisque, nibh nunc gravida felis, sed dapibus nunc metus sit amet ipsum. Duis vel eros id nulla eleifend hendrerit nec vel ante. Mauris eleifend hendrerit mattis. Aliquam at tempus ipsum. Nulla eu nibh sed est scelerisque facilisis ut sed tortor.

                Mauris efficitur justo eget est mollis posuere. Vivamus ac turpis eu diam pretium aliquet. Fusce eu tempus massa. Suspendisse et interdum diam. Duis malesuada accumsan nisl vel pulvinar. Cras ut tincidunt lacus. Sed at lacinia purus. Phasellus varius sagittis tortor, ut aliquet nisi suscipit vel.

                In ac nisl vitae massa gravida consequat. Ut ut sagittis urna. Donec id ante lacinia, malesuada velit non, pellentesque ipsum. Praesent eget ex varius, elementum massa a, mollis orci. Integer mi nibh, lobortis et metus at, rutrum sagittis mauris. Morbi pulvinar ante ac magna aliquet, non maximus massa blandit. Nullam sed bibendum libero, eget eleifend dui. Ut eget condimentum nunc, vel vehicula purus. Fusce lacinia turpis quis mauris tristique tincidunt. Nunc bibendum rutrum sollicitudin.
            </div>
        </div>
        <div id="item-5">
            <a href="" id="hrefs">
                <div id="newbutton">
                    <div id="newbutton-text">+</div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>